.home {
    text-align: center;
    background-image: url("");  /* Placeholder for the background image */
    /*background-color: #333;*/
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f50057;
}

.featured-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.featured-item {
    background: rgba(255, 255, 255, 0.9); /* Transparent white background for items */
    padding: 30px;
    width: 240px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Box shadow for items */
    transition: transform 0.3s ease; /* Smooth transition on hover */
}

.featured-item:hover {
    transform: scale(1.05); /* Slightly enlarge card on hover */
}

.featured-item img{
    width: 100%;
    border-radius: 12px; /* Rounded corners for images */
}

.featured-item h3 {
    font-size: 1.4rem;
    color: #333; /* Dark text color */
    margin-bottom: 10px;
}

.featured-item p {
    color: #666; /* Lighter text color */
    font-size: 1rem;
}

/* Services Section */
.services-section {
    padding: 80px 20px;
}


.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    justify-content: center;
}


.service-item.left .service-content {
    order: 1;
    /* text-align: right; */
    /*align-items: flex-end;*/
    text-align: center;
    /*padding-right: 40px;*/
    padding: 0 20px;
}

.service-item.left .service-image {
    order: 2;
}

.service-item.right .service-content {
    order: 2;
    /* text-align: left; */
    /*align-items: flex-start;*/
    text-align: center;
    /*padding-left: 40px;*/
    padding: 0 20px;
}

.service-item.right .service-image {
    order: 1;
}

.service-content {
    flex: 1;
    /* New code */
    display: flex;
    flex-direction: column;
    /*align-items: flex-end;*/
    align-items: center;
    text-align: center;
    /* New new code */
    justify-content: center;
    padding: 0 20px;
}

/*
.service-content .icon-wrapper {
    font-size: 3rem;
    color: #f50057;
    margin-bottom: 20px;
}
*/

.service-content h3 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 20px;
}
.service-content p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.service-details {
    margin-top: 20px;
    text-align: center;
}

.service-details h4 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}

.service-details p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
}

.service-details ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}
.service-details li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    text-align: center;
}

.service-image {
    flex: 1;
}

.service-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}



/* Aligning the icon and the title */
/*
.icon-title-wrapper {
    display: flex;
    align-items: center;
    
    width: 100%;
}

.service-item.right .icon-title-wrapper {
    justify-content: flex-start; 
}

.icon-wrapper {
    margin-right: 10px;
}

.service-item.right .icon-wrapper {
    margin-right: 0; 
    margin-left: 10px; 
}


.service-content h3,
.service-content p,
.service-content .service-details {
    width: 100%; 
}

.icon-wrapper {
    margin-right: 10px;
}

.service-item.left .icon-wrapper {
    margin-left: 10px;
    margin-right: 0;
}
*/
/* For Mobile Responsiveness */
@media (max-width: 768px) {
    .featured-container {
        flex-direction: column;
        gap: 20px; /* Less gap between items on mobile */
    }

    .featured-item {
        width: 90%; /* Full width on mobile devices */
    }

    .service-item {
        flex-direction: column;
        text-align: center;
    }

    .service-content, .service-image {
        order: unset;
        padding: 0;
    }

    .service-content {
        margin-top: 20px;
        text-align: center;
    }
    .service-content h3 {
        font-size: 1.5rem;
    }
    .service-details h4 {
        font-size: 1.1rem;
    }
    .service-details p,
    .service-details li {
        font-size: 0.95rem;
    }
    
}