.inquiry-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

.inquiry-form h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
}

.inquiry-form button, .login-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inquiry-form button:hover {
    background-color: #45a049;
}

.inquiry-form input,
.inquiry-form select,
.inquiry-form textarea,
.inquiry-form fieldset {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: left;
}

.inquiry-form fieldset{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.inquiry-form legend {
    font-size: 18px;
    color: #4CAF50;
    margin-bottom: 10px;
}

.inquiry-form label {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}


.inquiry-form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

/*
.inquiry-form button[type="submit"] {
    background-color: #4CAF50;
}
  
.inquiry-form button[type="submit"]:hover {
    background-color: #45a049;
}

.inquiry-form p {
    margin-top: 20px;
    font-size: 18px;
    color: green;
    text-align: center;
}
*/

.success-message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: green;
    text-align: center;
}
  